# Byte-compiled
__pycache__/
*.py[cod]

# Cython
*.so
*.c

# Distribution / packaging
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml

# Sphinx documentation
docs/.build/
docs/api

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
