version-tags: &version-tags
    tags:
        only: /v\d+\.\d+\.\d+/

version: 2.1
executors:
    my-executor:
        docker:
            - image: circleci/python:3.7.3
        working_directory: /home/circleci/project

jobs:
    test-py27:
        docker:
            - image: circleci/python:2.7.16
        steps:
            - checkout
            - restore_cache:
                keys:
                    - deps-py2-{{ checksum "poetry.lock"}}
                    - deps-py2-
            - run:
                name: "Installation"
                command: |
                    poetry install
            - save_cache:
                key: deps-py2-{{ checksum "poetry.lock"}}
                paths:
                    - /home/circleci/.cache/pypoetry/virtualenvs
            - run:
                name: "Run tests"
                command: |
                    poetry run pytest --doctest-modules numpoly test
    build-cache:
        executor: my-executor
        steps:
            - checkout
            - restore_cache:
                keys:
                    - deps-{{ checksum "poetry.lock"}}
                    - deps-
            - run:
                name: "Installation"
                command: |
                    python3 -m venv /home/circleci/venv
                    source /home/circleci/venv/bin/activate
                    poetry install
                    poetry run pip install -U numpy  # allow python 3 only numpy
            - save_cache:
                key: deps-{{ checksum "poetry.lock"}}
                paths:
                    - /home/circleci/venv
            - persist_to_workspace:
                paths:
                    - project
                    - venv
                root: /home/circleci
    test:
        executor: my-executor
        steps:
            - attach_workspace:
                at: /home/circleci
            - run:
                name: "Run tests"
                command: |
                    source /home/circleci/venv/bin/activate
                    pytest --doctest-modules --cov=numpoly numpoly test doc/*.rst
                    codecov
    linting:
        executor: my-executor
        steps:
            - attach_workspace:
                at: /home/circleci
            - run:
                name: "Run pylint"
                command: |
                    source /home/circleci/venv/bin/activate
                    pylint --rcfile=.pylintrc -E numpoly
            - run:
                name: "Run pydocstyle"
                command: |
                    source /home/circleci/venv/bin/activate
                    pydocstyle numpoly
    sphinx:
        executor: my-executor
        steps:
            - attach_workspace:
                at: /home/circleci
            - run:
                name: "Run Sphinx build"
                command: |
                    mkdir doc/.static
                    source /home/circleci/venv/bin/activate
                    sphinx-build doc/ doc/.build -b html -n -v --color -T -W
    deploy:
        executor: my-executor
        steps:
            - attach_workspace:
                at: /home/circleci
            - run:
                name: "Publish to PyPI"
                command: |
                    source /home/circleci/venv/bin/activate
                    poetry publish --build -u jonathf -p $PYPI_PASSWORD -n

workflows:
    version: 2.1
    workflow:
        jobs:
            - test-py27:
                filters:
                    <<: *version-tags
            - build-cache:
                filters:
                    <<: *version-tags
            - test:
                filters:
                    <<: *version-tags
                requires:
                    - build-cache
            - linting:
                filters:
                    <<: *version-tags
                requires:
                    - build-cache
            - sphinx:
                filters:
                    <<: *version-tags
                requires:
                    - build-cache
            - deploy:
                requires:
                    - test-py27
                    - test
                    - linting
                    - sphinx
                filters:
                    <<: *version-tags
                    branches:
                        ignore: /.*/
